<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Funções</title>
</head>
<body>
<section layout:fragment="header">	
</section>
<section layout:fragment="content">
		<div class="box-header" id="chat" style="height: 50%">
	        <h2>Cliente</h2>
	        <span th:if></span>
	    </div>
	    <div class="box-body" id="chat" style="height: 50%">
	        
	        asdfasd
	        
	    </div>
	    <div class="box-footer" id="controls">
	        
	        fasdf
	        
	    </div>
</section>

</body>
</html>
