<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active treeview">
            <a href="/">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#" sec:authorize="hasAuthority('Administrador')">
                <i class="fa fa-folder"></i>
                <span>Cadastros</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/funcoes"><i class="fa fa-circle-o"></i> Funções</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/departamentos"><i class="fa fa-circle-o"></i> Departamentos</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/usuarios"><i class="fa fa-circle-o"></i> Usuários</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/finalizacoes"><i class="fa fa-circle-o"></i> Finalizações</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/parametros"><i class="fa fa-circle-o"></i> Parâmetros</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/fluxos"><i class="fa fa-circle-o"></i> Fluxos</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#" sec:authorize="hasAuthority('Administrador')">
                <i class="fa fa-folder"></i>
                <span>Configurações API</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/configuracoes/qrcode"><i class="fa fa-circle-o"></i> Conectar Telefone (QRCODE)</a></li>
            </ul>
             <ul class="treeview-menu">
                <li><a href="/configuracoes/webhook"><i class="fa fa-circle-o"></i> Configurar Web Hook</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/configuracoes/acoes"><i class="fa fa-circle-o"></i> Outras ações</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#" sec:authorize="hasAuthority('Administrador')">
                <i class="fa fa-folder"></i>
                <span>Processos</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/roteirizador"><i class="fa fa-circle-o"></i> Roteirizador</a></li>
            </ul>
        </li>
        <li class="treeview">
        	<a href="#">
                <i class="fa fa-gear"></i>
                <span>Sessão</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a th:href="@{/usuarios/alterasenha(username=${#authentication.name})}"><i class="fa fa-circle-o"></i> Alterar senha</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/logout"><i class="fa fa-circle-o"></i> Sair</a></li>
            </ul>
        </li>>
    </ul>
</section>
<!-- /.sidebar -->