<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active treeview">
            <a href="/">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#" sec:authorize="hasAuthority('Administrador')">
                <i class="fa fa-folder"></i>
                <span>Cadastros</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/funcoes"><i class="fa fa-circle-o"></i> Funções</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/usuarios"><i class="fa fa-circle-o"></i> Usuários</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/finalizacoes"><i class="fa fa-circle-o"></i> Finalizações</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/parametros"><i class="fa fa-circle-o"></i> Parâmetros</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#" sec:authorize="hasAuthority('Administrador')">
                <i class="fa fa-folder"></i>
                <span>Processos</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/roteirizador"><i class="fa fa-circle-o"></i> Roteirizador</a></li>
            </ul>
        </li>
    </ul>
</section>
<!-- /.sidebar -->