<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Parâmetros</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Parâmetros</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Parâmetros</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Lista</h3>
            <div class="box-tools pull-right">
                <a href="/funcoes/add/funcao" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>Chave</th>
                    <th>Valor</th>
                    <th style="text-align: center">Alterar</th>
                </tr>
                <tr th:each="row : ${list}">
                    <td th:text="${row.chave}"></td>
                    <td th:text="${row.valor}"></td>
                    <td style="text-align: center">
                        <a th:href="${'/parametros/edit/' + row.chave}"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-left">
                <li class="page-item"><a class="page-link" href="/funcoes/1">Inicio</a></li>
                <li class="page-item" th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}" th:class="${p == currentIndex} ? 'active' : ''">
                    <a class="page-link" th:href="${'/parametros/' + p}" th:text="${p}"></a>
                </li>
                <li class="page-item"><a class="page-link" th:href="${'/parametros/' + endIndex}">Fim</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
